<?xml version="1.0"?>
<!--
/**
 * Talkable CheckoutOffer for Magento
 *
 * @package     Talkable_CheckoutOffer
 * @author      Talkable (http://www.talkable.com/)
 * @copyright   Copyright (c) 2015 Talkable (http://www.talkable.com/)
 * @license     MIT
 */
-->
<config>
    <modules>
        <Talkable_CheckoutOffer>
            <version>0.1.0</version>
        </Talkable_CheckoutOffer>
    </modules>

    <global>
        <blocks>
            <checkoutoffer>
                <class>Talkable_CheckoutOffer_Block</class>
            </checkoutoffer>
        </blocks>

        <helpers>
            <checkoutoffer>
                <class>Talkable_CheckoutOffer_Helper</class>
            </checkoutoffer>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <checkoutoffer>
                    <file>talkable/checkoutoffer.xml</file>
                </checkoutoffer>
            </updates>
        </layout>
    </frontend>

    <default>
        <checkoutoffer>
            <settings>
                <enabled>0</enabled>
                <site_id></site_id>
                <campaign_tags>default</campaign_tags>
            </settings>
        </checkoutoffer>
    </default>
</config>
